/Game1
/Server1
/test
Project.sln
/.vscode
/Game/BLL/bin
/Game/BLL/obj
/Game/ConsolePL/bin
/Game/ConsolePL/obj
/Game/ConsolePL/GameData/Saves
/Game/DAL/bin
/Game/DAL/obj
/Game/NetworkLL/bin
/Game/NetworkLL/obj
/Server/BLL/bin
/Server/BLL/obj
/Server/ConsolePL/bin
/Server/ConsolePL/obj
/Server/DAL/bin
/Server/DAL/obj