/Game1/bin
/Game1/obj
/Server1/bin
/Server1/obj
/test
Project.sln
/.vscode
/Game1/GameData/GameSaves/
/Game/BLL/bin
/Game/BLL/obj
/Game/ConsolePL/bin
/Game/ConsolePL/obj
/Game/DAL/bin
/Game/DAL/obj
/Game/NetworkLL/bin
/Game/NetworkLL/obj
/Server/BLL/bin
/Server/BLL/obj
/Server/ConsolePL/bin
/Server/ConsolePL/obj
/Server/DAL/bin
/Server/DAL/obj