/Game/BLL/bin
/Game/BLL/obj
/Game/ConsolePL/bin
/Game/ConsolePL/obj
/Game/DAL/bin
/Game/DAL/obj
/Game/NetworkLL/bin
/Game/NetworkLL/obj
/Game/GameData/Saves
/Server/BLL/bin
/Server/BLL/obj
/Server/ConsolePL/bin
/Server/ConsolePL/obj
/Server/DAL/bin
/Server/DAL/obj
/Tests/bin
/Tests/obj